/*add js at the end of the body tag:*/

<div id="load"></div>

/*add js at the end of the body tag:*/


<script type="text/javascript">
	document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'complete') {
      setTimeout(function(){
          document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
      },1000);
  }
}
</script>


/*css code:
add in css code*/

 #load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999 ;
    background:url("img/loading.gif") no-repeat center center white;
    animation: fade-out-for-loading-icon ease 2s;
}
@keyframes fade-out-for-loading-icon {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}