
html {
  scroll-behavior: smooth;
}

*{
	padding: 0px;
	margin: 0px;
}

#loading {
position: fixed;
width: 100%;
height: 100vh;
background: #fff url('img/Loading-V3.gif') no-repeat center center;
z-index: 9999;
left: 0;
}


/*banner cubes animation*/

*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    position: absolute;

    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #fff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: 0;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(84, 160, 255,1.0);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



  /*---------------------------------------------- go to top button----------------------------------------------------*/

  .all-top{
    z-index: 1;
  }
  .backtop {
    position: fixed;
    left: auto;
    right: 20px;
    top: auto;
    bottom: 20px;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
   background-color: rgba(14, 1, 3, 0.4);
   color: rgba(14, 1, 3, 0.9);
    text-align: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999999;
    opacity: 1;
    display: none;
  }

/*---------------top banner type------------------*/

.type{
	color: red;
}

/*-----------------top banner--------------------*/

.banner{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-attachment: fixed;
}

.banner-item-center{
	justify-content: center;
	align-items: center;
	display: flex;
}

.contactbtn{
	transition: 0.3s;
	padding: 10px 30px;
	font-size: 1.2rem;
	border-radius: 25px;
	 -webkit-animation: bgcolor 8s infinite;
    animation: bgcolor 8s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.contactbtn:hover{
	-webkit-animation: bgcolor  paused;
	color: black;
	border: 1px solid black;
	text-align: center;
    text-decoration: none;
}

.header-wtsapp{
	color: #4cd137;
}

.header-call{
	color: #7f8fa6;
}

.contactbtnlink a:hover{
	text-decoration: none;
}

/*top contact button animation*/
@keyframes bgcolor {
    0% {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    30% {
        background-color: black;
        border: 1px solid white;
        color: white;
         
    }

    60% {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    90% {
        background-color:black;
        border: 1px solid white;
        color: white;
       
    }

    100% {
        background-color:white;
        border: 1px solid black;
        color: black;
    }
}


.bannertxt{
	padding-bottom: 20px;
	color: black;
	text-align: center;
}

.offer-div , .advantages-div , .qualityinfo{
	background-color: rgba(52, 152, 219,1.0);
}

.web-cost-div{
	background-color: rgba(14, 1, 3, 0.5);
	border-radius: 5px;
	color: white;
	transition: .2s ease;
	border: 2px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.web-cost-div:hover{
	background-color: white;
	color: black;
	border: 2px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}


ul.a {
  list-style-type: square;
  list-style-position: inside;
  line-height: 2rem;
 
}

.cost-label{
	font-size: 2rem;
	font-weight: bold;
}


/*--------------lang slider------------*/
.lang-slider-pic{
	height: auto;
	width: 50%;
}


.online-details{
	font-size: 1.5rem;
}
/*----------------footer----------------*/
.footer{
	background-color: #0984e3;          
  bottom: 0;
}

.footer-links{
	color: white;
	transition: 0.2s ease;
}

.footer-links:hover{
	color: black;
	text-decoration: none;
}

.footer-social-icon{
	color: white;
	transition: 0.2s ease;
}
.footer-social-icon:hover{
	color: black;
	text-decoration: none;
}

.wtsapp-options-text{
	color: black;
}

.wtsapp-options-text:hover{
	color: white;
}
.wtsapp-options:hover{
	background-color: #0984e3;
}


/*----------------copyright----------------------*/
.copyright-text{
	background-color: #3498db;
	color: white;         
}

/*------------multi  slider----------------*/

    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


/******************************************************/
.section-title{
	padding: 5rem 0 5rem 0;
	color: black;
	/*border-bottom: 1px solid #dfe6e9;*/
}

.services-text , .advantages-text , .keyfeatures{
	font-size: 1.3rem;/*em , rem , px , % , vw*/
}

.service-icon , .webdemodiv /*.advantages-icon:hover*/{
  border-radius: 5px;
  border: 1px solid #c8d6e5;
}

.service-icon:hover , .advantages-icon:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.webdemodiv{
  color: black;
  /*position: relative;*/
}

/*.webdemocost{
  position: absolute;
  text-align: center;
  bottom: 0;
}*/

.webdemodiv:hover{
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  background-color: black;
  box-shadow: 3px 3px 5px grey;
  color: white;
}


/*editing scrollbar*/

::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: white;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
	transition: .2s ease;
}


/*accordion css code*/
    
    .accordion .fa { 
      margin-right: 0.2rem; 
    } 

    .accordian-button , .accordian-button:hover{
      width: 100%;
      background-color: rgba(52, 152, 219,1.0);
      color: white;
    }

    .accordian-heading{
      float: left;
    }

    .accordian-plus-minus{
      float: right;
    }




