
html {
  scroll-behavior: smooth;
}

body {
	-youbkit-touch-callout: none; /* iOS Safari */
	-youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
	-moz-user-select: none;	   /* Firefox */
	-ms-user-select: none;		/* IE 10+ and Edge */
	user-select: none;			/* Non-prefixed version,
								  currently supported by Chrome and Opera */
}


.navbar-color-on-scroll{
	background-color: black;
}

.navbar-nav .dropdown-menu .active , .navbar-nav .dropdown-menu .dropdown-item:focus{
	color: black;
	background-color: #ecf0f1;
}

/*media query for full screen nav-bar*/

		 /* Media Query for Mobile Devices */
		 /*Extra small devices (portrait phones, less than 576px)*/
        @media (max-width: 575.98px) { 
           .navbar-nav {
			  height: 100vh !important;
			}

			.nav-link{
				line-height: 2rem;
			}
			.navbar-nav{
				padding-top: 10%;
			}
			.nav-item{
				border-radius: 5px;
	        	border:1px solid transparent;
	        	transition: 0.2s ease;
	        	text-align: center;
        	}
	        .navbar-nav .active{
	        border: 1px solid #dfe6e9;	
	        }
        } 
          
        /* Media Query for low resolution  Tablets, Ipads */
        /*Small devices (landscape phones, 576px and up)*/
        @media (min-width: 576px) and (max-width: 767.98px) { 
            .navbar-nav {
			  height: 100vh !important;
			}
			.nav-link{
				line-height: 2rem;
			}
			.navbar-nav{
				padding-top: 10%;
			}
			.nav-item{
        	border-radius: 5px;
	        	border:1px solid transparent;
	        	transition: 0.2s ease;
	        	text-align: center;
        	}
	        .navbar-nav .active{
	        border: 1px solid #dfe6e9;	
	        }
        } 
          
        /* Media Query for Tablets Ipads portrait mode */
         /*Medium devices (tablets, 768px and up)*/
        @media (min-width: 768px) and (max-width: 991.98px){ 
            .navbar-nav {
			  height: 100vh !important;
			}
			.nav-link{
				line-height: 2rem;
			}
			.navbar-nav{
				padding-top: 10%;
			}
			.nav-item{
        	border-radius: 5px;
	        	border:1px solid transparent;
	        	transition: 0.2s ease;
	        	text-align: center;
       		}
	        .navbar-nav .active{
	        border: 1px solid #dfe6e9;	
	        }
        } 
          
        /* Media Query for Laptops and Desktops */ 
        /*Large devices (desktops, 992px and up)*/
        @media (min-width: 992px) and (max-width: 1199.98px){ 
           
        } 
          
        /* Media Query for Large screens */
        /*Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) { 
            
        }



*{
	padding: 0px;
	margin: 0px;
}



.loader {
  border: 0.5rem solid rgba(0, 0, 0,0);

  border-top: 0.5rem solid;
  border-bottom: 0.5rem solid;
  
  border-image-slice: 1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.load-wrapper{
	  z-index: 9999;
    justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}


/*banner cubes animation*/

*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    position: absolute;   
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #fff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: 0;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(84, 160, 255,1.0);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/*aboutme page*/

.myaim{
  background-color: #f5f6fa;
}

.webname1{
  transition: 0.1s ease;
  color: white;
  background-color: rgba(52, 152, 219,1.0);
}

.webdemo1{
  background-color: #f5f6fa;
}

.webdemo1:hover a {
  text-decoration: none;
}


/*faq*/
.faq{
	background-color: #f5f6fa;
}


  /*---------------------------------------------- go to top button----------------------------------------------------*/

  .all-top{
    z-index: 1;
  }
  .backtop {
    position: fixed;
    left: auto;
    right: 20px;
    top: auto;
    bottom: 20px;
    overflow: hidden;
    color: rgba(14, 1, 3, 0.6);
    border: none;
    cursor: pointer;
    z-index: 999999;
    background-color: white;
    border-radius: 50px;
    opacity: 1;
    display: none;
  }

/*---------------top banner type------------------*/

.type{
	color: red;
}

/*-----------------top banner--------------------*/

.banner{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: center;
	align-items: center;
/*	padding-top: 10rem;*/
	flex-flow: column;
	background-attachment: fixed;
}

.banner-item-center{
	justify-content: center;
	align-items: center;
	display: flex;
}

.contactbtn{
	transition: 0.3s;
	padding: 10px 30px;
	font-size: 1.2rem;
	border-radius: 25px;
	 -webkit-animation: bgcolor 8s infinite;
    animation: bgcolor 8s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.contactbtn:hover , .contactbtn:focus{
	-webkit-animation: bgcolor  paused;
  background-color: white;
	color: black;
	border: 1px solid black;
	text-align: center;
    text-decoration: none;
}

.header-wtsapp{
	color: #4cd137;
}

.header-call{
	color: #7f8fa6;
}

.header-wtsapp:hover , .header-call:hover{
 
  color: black;
  border-radius: 5px;
}

.contactbtnlink a:hover{
	text-decoration: none;
}

/*top contact button animation*/
@keyframes bgcolor {
    0% {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    30% {
        background-color: black;
        border: 1px solid white;
        color: white;
         
    }

    60% {
        background-color: white;
        border: 1px solid black;
        color: black;
    }

    90% {
        background-color:black;
        border: 1px solid white;
        color: white;
       
    }

    100% {
        background-color:white;
        border: 1px solid black;
        color: black;
    }
}


.bannertxt{
	padding-bottom: 20px;
	color: black;
	text-align: center;
}

.services-div , #quality , .advantages-div{
	background-color: rgba(9, 132, 227,1.0);
}


.costbtn , .clear{
	border: 1px solid black;
	border-radius: 50px;
	padding: 1rem 5rem 1rem 5rem;
	background-color: white;
	color: black;
	transition: 0.2 ease;
	outline: none;
}

.costbtn:focus , .clear:focus{
	outline: none;
}

.costbtn:hover , .clear:hover{
	background-color: black;
	color: white;
	outline: none;
}


/* Make it a marquee */
.marquee {
    width:100%;
    margin: 0 auto;
    white-space: nowrap;
    background-color: red;
    color: white;
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.marquee div {
    display: inline-block;
    font-size: 1.2rem;
    animation-name: marquee;
    animation-duration: 30s;
    line-height: 2.5rem;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-right: 5rem;
}

.marquee:hover .pause{
	
	animation-play-state: paused;
}

/* Make it move */


 @-moz-keyframes marquee {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
        @-webkit-keyframes marquee {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
        @keyframes marquee {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }


/*--------------lang slider------------*/
.lang-slider-pic{
	height: auto;
	width: 50%;
}


.quality-details , .online-details{
	font-size: 1.1rem;
  line-height: 2rem;
}
/*----------------footer----------------*/
.footer{
  background-color: black;        
}


.footer-links{
	color: white;
	transition: 0.2s ease;
}

.footer-links:hover , .footer-links:focus{
	color: white;
	text-decoration: underline;
}

.footer-social-icon{
	color: white;
	transition: 0.2s ease;
}
.footer-social-icon:hover , .footer-social-icon:focus{
	color: white; 
	text-decoration: none;
}


.footer-brand:hover{
	text-decoration: none;
}


.wtsapp-options a{
	color: black;
	line-height: 2;
}

.wtsapp-options:hover a{
	color: black;
	text-decoration: none;
}

.wtsapp-options:hover{
	background-color: #dfe6e9;
}

/*----------------copyright----------------------*/
.copyright-text{
	background-color: black;
	color: white;         
}

/*------------multi  slider----------------*/

    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      cursor: pointer;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


/******************************************************/
.section-title{
	padding: 5rem 0 5rem 0;
	/*border-bottom: 1px solid #dfe6e9;*/
}

.services-text , .advantages-text , .keyfeatures{
	font-size: 1.3rem;/*em , rem , px , % , vw*/
}

.services-col-div{
	overflow: hidden;
}

.find-cost-table{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.domain-button, .hosting-button{
  border-radius: 50px;
  border:1px solid black;
  padding:0.3rem;
}


.domain-button:hover, .hosting-button:hover{
  cursor: pointer;
}


/*webdemo code*/

.democard{
   border-radius: 5px;
   border: 1px solid #dfe6e9;
   transition: .1s ease;
}

.democard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.webdemo:hover a {
  text-decoration: none;
}

.webname{
  transition: 0.1s ease;
  color: black;
  background-color: rgba(236, 240, 241,0.2);
}

.webcost{
  transition: 0.1s ease;
  color: white;
  background-color: black;
  padding: 0.3rem;
}

/*editing scrollbar*/

::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: white;
}

::-webkit-scrollbar
{
	width: 11px;
	background-color: #F5F5F5;
  transition: 0.3s;
}


::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
	transition: .2s ease;
}


/*accordion css code*/

    .accordion .fa { 
      margin-right: 0.2rem; 
    } 

    .accordion-border{
      border: 1px solid gray;
      border-radius: 5px;
    }

    .accordion-border .accordian-button{
      width: 100%;
      background-color: rgba(236, 240, 241,1.0);
    }

    /*.accordian-button:focus , .accordian-button:focus .accordian-heading{
      background-color: rgba(52, 152, 219,1.0);
      color: white; 
    }*/

    .accordian-heading{
      color: black;
    }

    .accordian-heading{
      float: left;
     /* color: white;*/
    }

    /********* about website*********/

    .aboutweb a:hover{
    	background-color: #dfe6e9;
    	color: black;
    }

    .aboutweb-title{
    	padding: 1rem 0 1rem 0;
	color: black;
    }

    .div-color{
    	background-color: #f5f6fa;
    }





