body{
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}

#loading {
position: fixed;
width: 100%;
height: 100vh;
background: #fff url('images/loader.gif') no-repeat center center;
z-index: 9999;
left: 0;
}

.banner{
	background: linear-gradient(rgba(12, 167, 255, 0.2),rgba(12, 167, 255, 0.2)),url("images/top-banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}


 .services-logo{
	padding: 2% 0 2% 0;
	text-align: center;

}

.services-backImg{
	background: linear-gradient(rgba(16, 19, 82, 0.4),rgba(16, 19, 82, 0.4)),url("images/services.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 5%;
}

.vert{
	padding: 20% 0 20% 0;
	text-align: center;

}

.footer{
	padding: 4% 0 4% 0;
}

.footer-link , .footer-link:hover{
	color: white;
}
.footer-color{
	background-color: black;
}

.social-icons{
	padding: 2% 2% 2% 2%;
	transition: 0.2s ease;
	color: white;
}

.social-icon-wtsapp:hover{
	color: #4cd137;
}

.social-icon-fb:hover{
	color: #0097e6;
}

.social-icon-insta:hover{
	color: #e84118;
}

.social-icon-yt:hover{
	color: #eb2f06;
}

.copyright{
	background-color: black;
	color: white;
}
